<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dou.brodcastdemo">

    <permission android:name="com.example.dou.brodcastdemo.MYPEMISSION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".MyReciver">
            <!--飞行模式 静态注册-->
            <!--注册自定义广播-->
            <intent-filter>
                <action android:name="com.example.dou.brodcastdemo.MY_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".MyReciver02">
            <!--设置广播接收器优先级，数字越大，优先级越高，范围正负1000，不写就是0-->
            <intent-filter android:priority="100">
                <action android:name="com.example.dou.brodcastdemo.MY_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".MyReciver03">
            <intent-filter>
                <action android:name="com.example.dou.brodcastdemo.MY_ACTION"/>
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="com.example.dou.brodcastdemo.MYPEMISSION"/>
</manifest>
